### https://raw.github.com/github/gitignore/e92f8db7a027af8cc25da2dc0758317e39697684/Global/SBT.gitignore

# Simple Build Tool
# http://www.scala-sbt.org/release/docs/Getting-Started/Directories.html#configuring-version-control

dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/


### https://raw.github.com/github/gitignore/e92f8db7a027af8cc25da2dc0758317e39697684/Scala.gitignore

*.class
*.log

.idea/
